*{
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#top-nav{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.top-nav-link{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin: 13px;
    align-self: center;
}

.top-nav-link:hover{
    text-decoration: underline;
}

.top-nav-icon{
    margin: 15px;
    font-size: 25px;
    align-self: center;
}

#main{
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    bottom: 25px;  
}

#div-logo{
    margin: 20px;
}

img{
    height: 92px;
    width: 272px;
}

#search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px  solid rgb(218, 220, 224);
    border-radius: 30px;
    width: 580px;
    height: 45px;
}

#mag-glass{
    color: #9aa0a6;
}

#search-text{
    width: 84%;
    margin: 10px;
    height: 40px;
    font-size: 16px;
    border-style: none;
    outline: none;
}

#mic{
    color: #9aa0a6; 
}

#btns{
    margin: 10px;
}

.btn{
    background-color: #f8f9fa;
    border: #f8f9fa 1px solid;
    border-radius: 4px;
    color: #3c4043;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 16px;
    margin: 5px;
}

#footer{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px  solid rgb(218, 220, 224);
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

#nav-l{
    margin: 15px;
}

.nav-l-items{
    color: #70757a;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
}

.nav-l-items:hover{
    text-decoration: underline;
}

#nav-r{
    margin: 15px;
}

.nav-r-items{
    color: #70757a;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    
}

.nav-r-items:hover{
    text-decoration: underline;
}